.active{
    height: 20rem;
    animation-name: opening;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}


@keyframes opening{
  0%   {height: 5rem;}
  20%  {height: 10rem;}
  25%  {height: 12rem;}
  50%  {height: 15rem;}
  60%  {height: 18rem;}
  100% {height: 20rem;}
}


